<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
      rel="stylesheet" type='text/css'>
<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Subtotal</th>
      <th style="width:10%"></th>
    </tr>
    </thead>
    <tbody>
    <% @cart.items.each do |item| %>
        <tr>
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/>
              </div>
              <div class="col-sm-10">
                <h4 class="nomargin"><%= item.book.name %></h4>
                <p><%= item.book.description %></p>
              </div>
            </div>
          </td>
          <td class='price' data-th="Price"><%= number_to_currency(item.price) %></td>
          <td data-th="Quantity">
            <%= number_field_tag 'quantity', :quantity, min: 1, value: item.quantity,
                class: "form-control text-center quantity",  data: {path: item_path(item)} %>
          </td>
          <td data-th="Subtotal" class="text-center" id="subtotal_item_<%= item.id %>">
            <%= number_to_currency(ItemDecorator.new(item).total_price) %>
          </td>
          <td class="actions" data-th="">
            <%= link_to item, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: "btn btn-danger btn-sm" do %>
                <i class="fa fa-trash-o"></i>
            <% end %></td>
          </td>
        </tr>
      </tbody>
    <% end %>
    <tfoot>
    <tr>
      <td><%= link_to '<i class="fa fa-angle-left"></i> Continue Shopping'.html_safe, root_url,
                      class: "btn btn-warning" %>
      </td>
      <td colspan="2" class="hidden-xs"></td>
      <td class="hidden-xs text-center">
        <strong id="subtotal">Total <%= number_to_currency(@decorator_cart.total_price) %></strong></td>
      <td><%= link_to root_url, class: "btn btn-success btn-block" do %>
            Checkout <i class="fa fa-angle-right"></i>
        <% end %></td>
    </tr>
    </tfoot>
  </table>
</div>