<div class="row">
  <div class="col-lg-12">
    <h3>Bookstore</h3>
  </div>
</div>
<div class="row text-center">
  <% @books.each do |book| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/200x150" alt="">
          <div class="caption">
            <h3><%= book.name %></h3>
            <p><%= truncate(book.description, length: 140) %></p>
            <p><%= number_to_currency(book.price) %></p>
            <p>
              <%= button_to 'Buy Now!', items_path(book_id: book), remote: true, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>