<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to 'Books store', root_url %></li>
        <li class="nav-item"><%= link_to 'Cart', cart_path(CartManager.cart) %></li>
      </ul>
    </div>
  </div>
</header>
